.conatiner {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 5% !important;
  }
.form_design{
    width: 600px;
    margin: 0 auto;
    height: 700px !important;
    overflow: auto;
};
.form_design_one{
  width: 400px;
    margin: 0 auto;
}